
.pop-up {
  display: flex;
  flex-direction: column;
  position: absolute;
  opacity: 1;
  left: 225px;
  top: 80px;
  min-height: 500px;
  max-height: 100vh;
  border: 1px solid #3f3f47;
  background-color: #1e1f23;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  transition: transform none;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 40px 70px #050505;

  .pop-up-handle{
    width: 100%;
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
    height: 56px;
    align-items: center;
    border-top: 1px solid #696971;
    border-bottom: 1px solid #141318;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: rgb(43, 42, 47);
    background: linear-gradient(
      360deg,
      rgba(43, 42, 47, 1) 0%,
      rgba(53, 53, 55, 1) 100%
    );
    box-sizing: border-box;
    height: 2.55em;
    padding-left: 13px;
    color: white;
    font-family: "SF Bold";
  }

  .dots {
    display: flex;
    gap : 7px;
    margin-right: 276px;
  }
}

.dot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13px;
  height : 13px;
  border-radius: 50%;

  svg {
    opacity: 0;
    visibility: hidden;
  }
}

.dots:hover {
  svg {
    opacity: 0.8;
    visibility: visible;
  }
}
.red {
  background-color: #ff453a;
}

.yellow {
  background-color: #ffd60a;
}

.green {
  background-color: #30d158;
} 


.pop-up-minimized {
  display: flex;
  flex-direction: column;
  position: absolute;
  opacity: 0;
  transition: 1s all;
  margin-top: 550px;
  left: 550px;
  top: 250px;
  transform: scale(0.09) !important;
  border: 1px solid #3f3f47;
  background-color: #1e1f23;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  transition: transform none;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 40px 70px #050505;

  .pop-up-handle {
    width: 100%;
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
    height: 56px !important;
    align-items: center;
    border-top: 1px solid #696971;
    border-bottom: 1px solid #141318;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: rgb(43, 42, 47);
    background: linear-gradient(
      360deg,
      rgba(43, 42, 47, 1) 0%,
      rgba(53, 53, 55, 1) 100%
    );
    box-sizing: border-box;
    height: 2.55em;
    padding-left: 13px;
    color: white;
    font-family: "SF Bold";

    .dots {
      margin-right: 276px;
    }
  }
}