.dock {
  position: absolute;
  width : 100%;
  display: flex;
  justify-content: center;
  bottom: 10px;
}

.dock-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  padding: 0 3px 0 3px;
  border: 1px solid rgb(85, 84, 84);
  min-width: 618px;
  height: 71px;
  border-radius: 18px;
  backdrop-filter: blur(20px);
  background-color: rgba(27, 27, 29, 0.4);
  box-shadow: 0 0 4px #000;
}


.dock-item {
  transition: 0.175s all ease-in-out;
  .dock-icon {
    height: 3.59rem;
    cursor: url("../../resources//images/pointing.png"), auto;
    transition: 0.175s all ease-in-out;; 
  }
}

.dock-item:hover {
  margin-bottom: 24px;

  .dock-icon {
    height: 90px;
    width: 88px;
  }
}

.distance-1 {
  margin-bottom: 18px !important;

  .dock-icon {
    height: 70px;
    width: 69px;
  }
}

.distance-2 {
  margin-bottom: 12px !important;

  .dock-icon {
    height: 62px;
    width: 61px;
  }
}