.dock {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: end;
  justify-content: center;
}

.dock-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  padding: 0 3px 0 3px;
  border: 1px solid rgb(85, 84, 84);
  min-width: 618px;
  height: 71px;
  border-radius: 18px;
  backdrop-filter: blur(20px);
  background-color: rgba(27, 27, 29, 0.4);
  box-shadow: 0 0 4px #000;
}


.dock-item {
  .dock-icon {
    height: 3.59rem;
    cursor: url("../../resources//images/pointing.png"), auto;
    transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1); 
  }
}

.dock-item:hover {
  margin-bottom: 20px;
  .dock-icon {
    height: 90px;
    width: 88px;
    transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  }
}